*{
  margin: 0;
  padding: 0;
  direction: rtl;
}
html{
  margin: 0;
  padding: 0;
}

.flexCol{
  display: flex;
  flex-direction: column;
}
.bet{
  justify-content: space-between;
}
.w100{
  width: 100%;
}
.flexRow{
  display: flex;
  flex-direction: row;
}
.flexRowToCol{
  display: flex;
  flex-direction: row;
}
.center{
   
  justify-content: center;
  align-items: center;
}
.w80{
  width: 80%;
}
.w70{
  width: 90%;
}
.rtl{
  direction: rtl;
}

.InputDiv{
  margin-bottom: 25px;
  min-height: 25vh;

}
.list{
  min-width: 20vw;
}
.popup{
  height: 100vh;
  width: 100vw;
background-color: rgba(0, 0, 0, 0.356);

}
.popUpSquare{
  box-shadow: 1px 3px 10px black;
padding: 20px;
background-color: aliceblue;
}
.fixed{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
}

@media screen and (max-width: 600px) {
  .flexRowToCol{
    flex-direction: column;
  }
}



.without_ampm::-webkit-datetime-edit-ampm-field {
  display: none;
  
}
input[type=time]::-webkit-clear-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance:none;
  appearance: none;
  margin: -10px; 
}